<link rel="import" href="../polymer/polymer.html">
<!-- <link rel="import" href="my-second-component-styles.html"> -->
<!--
`<my-first-component>` description.

Example:

```html
<my-first-component></my-first-component>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --my-first-component  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="my-second-component">
  <template>
    <style include="my-second-component-styles my-second-component-shared-styles"></style>
    <slot></slot>

    [[title]]
    <!-- ponemos boton que emitirá un evneto que interceptaremos en el first-component -->
    <button on-click="_handleClick">ENVIAR del segundo</button>
    <!-- <p>Welcome to [[title]]</p>
    <h5 on-click="_handleAlternateTitleClick">[[alternateTitle]]</h5> -->

  </template>
  <script src="my-second-component.js"></script>
</dom-module>
