<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<dom-module id="users-page">
  <template>
    <style is="custom-style"></style>
    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__main">
        <p>Users page: </p>
        <br/>
        <template is="dom-repeat" items="{{users}}">
            <div>ID: <span>{{item.id}}</span></div>
            <div>Name: <span>{{item.name}}</span></div>
            <div>UserName: <span>{{item.username}}</span></div>
            <div>Email: <span>{{item.email}}</span></div>
            <br/>
        </template>

        <button on-click="_navigateHome">Volver a home </button>
        <cells-generic-dp
          id="usersDP"
          host="https://jsonplaceholder.typicode.com"
          path="users"
          on-request-success="_handleRequestSuccess">
        </cells-generic-dp>
      </div>
    </cells-template-paper-drawer-panel>
  </template>
  <script>
    {
      const CellsPage = customElements.get('cells-page');
      class UsersPage extends CellsPage {
        static get is() {
          return 'users-page';
        }
        static get properties() {
          return {
            users: {
              type: Array,
              value: []
            }
          };
        }
        onPageEnter() {
          console.log('Page loaded');
          this.$.usersDP.generateRequest();
        }
        onPageLeave() {
          console.log('Page unloaded');
        }
        _handleRequestSuccess(e) {
          this.set('users', e.detail);
          this.publish('ch_users',this.users);
        }

        _navigateHome() {
          this.navigate('home');
        }
      }
      window.customElements.define(UsersPage.is, UsersPage);
    };
  </script>
</dom-module>
